.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.body {
    width: 100%;
}
.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.main {
    width: 400px;
    height: 250px;
    float: left;
}
.main-left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.main-right {
    width: 250px;
    height: 250px;
    float: right;
}
.main-right-top {
    width: 250px;
    height: 250px;
    float: right;
}
.main-right-top1 {
    width: 150px;
    height: 150px;
    float: left;
}
.main-right-top1-1 {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}
.main-right-top1-2 {
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}
.main-right-top2 {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: right;
}
.main-right-bottom {
    width: 450px;
    height: 100px;
    background-color: #8c2727;
}
.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
    float: left;
}