@media screen and (max-width:479px) {
    .container {
        width: 200px;
        height: fit-content;
        position: initial;
    }
    .header {
        height: 200px;
        width: 200px;
        justify-content: center;
    }
    .header-content {
        height: 160px;
        width: 60px;
        display: block;
    }
    .box1 {
        margin: 10px;
    }
    .main {
        display: block;
    }
    .left {
        height: 100px;
        width: 200px;
    }
    .right {
        width: 200px;
        height: 200px;
    }
    .right-content {
        top: 20px;
        left: 30px;
    }
    .box2 {

    }
    .box2-2 {

    }
    .box2-inside {

    }
    .footer {
        height: 150px;
        width: 200px;
    }
}