* {
    margin: 0;padding: 0;
}
.div {
    width: 100%;
}
.container {
    width: 400px;
    height: 450px;
    position: relative;
}
.header {
    height: 100px;
    width: 400px;
    background-color: #141f40;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.header-content {
    height: 60px;
    width: 160px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 20px;
    margin-right: 20px;
}
.box1 {
    height: 40px;
    width: 40px;
    background-color: #a9004b;
}
.main {
    display: flex;
}
.left {
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
}
.right {
    height: 250px;
    width: 250px;
    background-color: #8c2727;
    position: relative;
}
.right-content {
    height: 170px;
    width: 150px;
    margin: left 40px;
    position:absolute;
    top: 40px;
    left: 40px;
    justify-content: space-between;
}
.box2 {
    height: 50px;
    width: 150px;
    background-color: white;
    position: relative;
}
.box2-2 {
    height: 50px;
    width: 150px;
    background-color: white;
    position: relative;
    margin-top: 10px;
}
.box2-inside {
    height: 40px;
    width: 140px;
    background-color: #ff863f;
    position: absolute;
    top: 5px;
    left: 5px;

}
.footer {
    height: 100px;
    width: 400px;
    background-color: #d98d30;
}   
